manifest {
    description = "Bulk RNA-seq preprocessing pipeline"
    author = 'Huynh NPT'
}

/*
* default params
*/
docker.enabled=true
// workflow.failOnIgnore=true

/*
* define execution profiles for different environments
* mostly batch or local
*/
profiles {
    // local
    local {
        process.executor = 'local'
    }

    // GCP
    cloud {
        workDir = 'gs://nextflow-batch-temp/genome'
        process.executor = 'google-batch'
        process.errorStrategy = 'retry'
        process.maxRetries = 3
        
        google.location = 'us-east1'
        google.region  = 'us-east1'
        google.project = 'compute-workspace'
        batch.spot = false
        batch.bootDiskSize = "64.GB"

    }

}

/*
* Dynamic resource-ask for each process
*/
process {
  withName: fastp_paired {
    cpus = 2
    memory = '16 GB'
    disk = { 16.GB * task.attempt }
  }
  withName: fastp_single {
    cpus = 2
    memory = '16 GB'
    disk = { 16.GB * task.attempt }
  }

  withName: fastqc_paired {
    cpus = 2
    memory = '16 GB'
    disk = { 16.GB * task.attempt }
  }
  withName: fastqc_single {
    cpus = 2
    memory = '16 GB'
    disk = { 16.GB * task.attempt }
  }

  withName: STAR_paired {
    cpus = 12
    memory = '96 GB'
    disk = { 240.GB * task.attempt }
  }
  withName: STAR_single {
    cpus = 12
    memory = '96 GB'
    disk = { 240.GB * task.attempt }
  }

  withName: salmon_paired {
    cpus = 8
    memory = '40 GB'
    disk = { 64.GB * task.attempt }
  }
  withName: salmon_single {
    cpus = 8
    memory = '40 GB'
    disk = { 64.GB * task.attempt }
  }
  
  withName: rsem_expr_paired {
    cpus = 8
    memory = '124 GB'
    disk = { 124.GB * task.attempt }
  }
  withName: rsem_expr_single {
    cpus = 8
    memory = '124 GB'
    disk = { 124.GB * task.attempt }
  }
}